.button {
	border: 0.1rem solid transparent;
	padding: 1rem 0.5rem;
	border-radius: 0.5rem;
	background-color: #0fdb7c94;
	color: white;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	width: 100%;
	max-width: 12rem;

	&:hover {
		transition: all 0.3s ease;
		opacity: 0.7;
		cursor: pointer;
	}
}
