.overlay {
	background: rgba(10, 10, 10, 0.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fade 0.3s;

	.container {
		background-color: #1a1a1a;
		width: 100%;
		max-width: 90rem;
		margin: auto;
		position: relative;
		border-radius: 0.8rem;
		padding: 2rem 0;
		z-index: 5;
	}

	.buttonClose {
		background-color: transparent;
		justify-content: center;
		align-items: center;
		position: absolute;
		cursor: pointer;
		display: flex;
		right: 0.5rem;
		border: none;
		top: 0.5rem;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
		margin-bottom: 2rem;
	}

	form {
		display: grid;
		max-width: 80rem;
		margin: auto;

		main {
			grid-template-columns: 1fr 1fr;
			display: grid;
			gap: 0 1rem;
		}
	}

	svg {
		color: rgba(241, 241, 241, 0.555);
		width: 4rem;
	}
}

.buttonSubmit {
	margin: 1rem 0;
	border-radius: none;
	width: 8rem;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
